# Data loading, storage, and file formats

In [1]:
from __future__ import division
from numpy.random import randn
import numpy as np
import os
import matplotlib.pyplot as plt
np.random.seed(12345)
plt.rc('figure', figsize=(10, 6))
from pandas import Series, DataFrame
import pandas as pd
np.set_printoptions(precision=4)

In [2]:
%pwd

'/Users/1001235/MyDev/ws_study/pydata-book'

In [ ]:
%cd ../book_scripts

## Reading and Writing Data in Text Format

In [3]:
!cat ch06/ex1.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [4]:
df = pd.read_csv('ch06/ex1.csv')
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [5]:
pd.read_table('ch06/ex1.csv', sep=',')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [6]:
!cat ch06/ex2.csv

1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [9]:
pd.read_csv('ch06/ex2.csv')

   1   2   3   4  hello
0  5   6   7   8  world
1  9  10  11  12    foo

In [7]:
pd.read_csv('ch06/ex2.csv', header=None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [8]:
pd.read_csv('ch06/ex2.csv', names=['a', 'b', 'c', 'd', 'message'])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [10]:
names = ['a', 'b', 'c', 'd', 'message']
pd.read_csv('ch06/ex2.csv', names=names, index_col='message')

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [11]:
!cat ch06/csv_mindex.csv

key1,key2,value1,value2
one,a,1,2
one,b,3,4
one,c,5,6
one,d,7,8
two,a,9,10
two,b,11,12
two,c,13,14
two,d,15,16

In [12]:
parsed = pd.read_csv('ch06/csv_mindex.csv', index_col=['key1', 'key2'])
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [13]:
!head ch06/ex3.txt

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [21]:
l = list(open('ch06/ex3.txt'))
l

['            A         B         C\n',
 'aaa -0.264438 -1.026059 -0.619500\n',
 'bbb  0.927272  0.302904 -0.032399\n',
 'ccc -0.264273 -0.386314 -0.217601\n',
 'ddd -0.871858 -0.348382  1.100491\n']

In [22]:
result = pd.read_table(l, sep='\s+')
result

OSError: Expected file path name or file-like object, got <class 'list'> type

In [16]:
result = pd.read_table('ch06/ex3.txt', sep='\s+')
result

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [17]:
!cat ch06/ex4.csv
pd.read_csv('ch06/ex4.csv', skiprows=[0, 2, 3])

# hey!
a,b,c,d,message
# just wanted to make things more difficult for you
# who reads CSV files with computers, anyway?
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [18]:
!cat ch06/ex5.csv

something,a,b,c,d,message
one,1,2,3,4,NA
two,5,6,,8,world
three,9,10,11,12,foo

In [19]:
result = pd.read_csv('ch06/ex5.csv')
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [23]:
pd.isnull(result)

  something      a      b      c      d message
0     False  False  False  False  False    True
1     False  False  False   True  False   False
2     False  False  False  False  False   False

In [24]:
!cat ch06/ex5.csv

something,a,b,c,d,message
one,1,2,3,4,NA
two,5,6,,8,world
three,9,10,11,12,foo

In [26]:
result = pd.read_csv('ch06/ex5.csv')
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [28]:
result = pd.read_csv('ch06/ex5.csv', na_values=['0'])
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [29]:
sentinels = {'message': ['foo', 'NA'], 'something': ['two']}
pd.read_csv('ch06/ex5.csv', na_values=sentinels)

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       NaN  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN

### Reading text files in pieces

In [30]:
!wc -l ch06/ex6.csv

   10001 ch06/ex6.csv

In [31]:
result = pd.read_csv('ch06/ex6.csv')
result

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
5     1.817480  0.742273  0.419395 -2.251035   Q
6    -0.776764  0.935518 -0.332872 -1.875641   U
7    -0.913135  1.530624 -0.572657  0.477252   K
8     0.358480 -0.497572 -0.367016  0.507702   S
9    -1.740877 -1.160417 -1.637830  2.172201   G
10    0.240564 -0.328249  1.252155  1.072796   8
11    0.764018  1.165476 -0.639544  1.495258   R
12    0.571035 -0.310537  0.582437 -0.298765   1
13    2.317658  0.430710 -1.334216  0.199679   P
14    1.547771 -1.119753 -2.277634  0.329586   J
15   -1.310608  0.401719 -1.000987  1.156708   E
16   -0.088496  0.634712  0.153324  0.415335   B
17   -0.018663 -0.247487 -1.446522  0.750938   A
18   -0.070127 -1.579097  0.120892  0.671432   F
19   -0.194678 -0.492039  2.359605  0.319810   H
20   -0.248618  0.868707 -0.492226 -0.717959   W
21   -1.091549 -0.867110 -0.647760 -0.832562   C
22    0.641404 -0.138822 -0.621963 -0.284839   C
23    1.216408  0.992687  0.165162 -0.069619   V
24   -0.564474  0.792832  0.747053  0.571675   I
25    1.759879 -0.515666 -0.230481  1.362317   S
26    0.126266  0.309281  0.382820 -0.239199   L
27    1.334360 -0.100152 -0.840731 -0.643967   6
28   -0.737620  0.278087 -0.053235 -0.950972   J
29   -1.148486 -0.986292 -0.144963  0.124362   Y
...        ...       ...       ...       ...  ..
9970  0.633495 -0.186524  0.927627  0.143164   4
9971  0.308636 -0.112857  0.762842 -1.072977   1
9972 -1.627051 -0.978151  0.154745 -1.229037   Z
9973  0.314847  0.097989  0.199608  0.955193   P
9974  1.666907  0.992005  0.496128 -0.686391   S
9975  0.010603  0.708540 -1.258711  0.226541   K
9976  0.118693 -0.714455 -0.501342 -0.254764   K
9977  0.302616 -2.011527 -0.628085  0.768827   H
9978 -0.098572  1.769086 -0.215027 -0.053076   A
9979 -0.019058  1.964994  0.738538 -0.883776   F
9980 -0.595349  0.001781 -1.423355 -1.458477   M
9981  1.392170 -1.396560 -1.425306 -0.847535   H
9982 -0.896029 -0.152287  1.924483  0.365184   6
9983 -2.274642 -0.901874  1.500352  0.996541   N
9984 -0.301898  1.019906  1.102160  2.624526   I
9985 -2.548389 -0.585374  1.496201 -0.718815   D
9986 -0.064588  0.759292 -1.568415 -0.420933   E
9987 -0.143365 -1.111760 -1.815581  0.435274   2
9988 -0.070412 -1.055921  0.338017 -0.440763   X
9989  0.649148  0.994273 -1.384227  0.485120   Q
9990 -0.370769  0.404356 -1.051628 -1.050899   8
9991 -0.409980  0.155627 -0.818990  1.277350   W
9992  0.301214 -1.111203  0.668258  0.671922   A
9993  1.821117  0.416445  0.173874  0.505118   X
9994  0.068804  1.322759  0.802346  0.223618   H
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

In [32]:
pd.read_csv('ch06/ex6.csv', nrows=5)

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

In [33]:
chunker = pd.read_csv('ch06/ex6.csv', chunksize=1000)
chunker

In [34]:
chunker = pd.read_csv('ch06/ex6.csv', chunksize=1000)

tot = Series([])
for piece in chunker:
    tot = tot.add(piece['key'].value_counts(), fill_value=0)

tot = tot.order(ascending=False)

//anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:7: FutureWarning: order is deprecated, use sort_values(...)

In [35]:
tot[:10]

E    368.0
X    364.0
L    346.0
O    343.0
Q    340.0
M    338.0
J    337.0
F    335.0
K    334.0
H    330.0
dtype: float64

### Writing data out to text format

In [36]:
data = pd.read_csv('ch06/ex5.csv')
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [37]:
data.to_csv('ch06/out.csv')
!cat ch06/out.csv

,something,a,b,c,d,message
0,one,1,2,3.0,4,
1,two,5,6,,8,world
2,three,9,10,11.0,12,foo

In [38]:
!diff ch06/ex5.csv ch06/out.csv

1,4c1,4
< something,a,b,c,d,message
< one,1,2,3,4,NA
< two,5,6,,8,world
< three,9,10,11,12,foo
\ No newline at end of file
---
> ,something,a,b,c,d,message
> 0,one,1,2,3.0,4,
> 1,two,5,6,,8,world
> 2,three,9,10,11.0,12,foo

In [40]:
data = pd.read_csv('ch06/out.csv')
data

   Unnamed: 0 something  a   b     c   d message
0           0       one  1   2   3.0   4     NaN
1           1       two  5   6   NaN   8   world
2           2     three  9  10  11.0  12     foo

In [42]:
import sys

In [43]:
data.to_csv(sys.stdout, sep='|')

|Unnamed: 0|something|a|b|c|d|message
0|0|one|1|2|3.0|4|
1|1|two|5|6||8|world
2|2|three|9|10|11.0|12|foo

In [44]:
data.to_csv(sys.stdout, na_rep='NULL')

,Unnamed: 0,something,a,b,c,d,message
0,0,one,1,2,3.0,4,NULL
1,1,two,5,6,NULL,8,world
2,2,three,9,10,11.0,12,foo

In [45]:
data.to_csv(sys.stdout, index=False, header=False)

0,one,1,2,3.0,4,
1,two,5,6,,8,world
2,three,9,10,11.0,12,foo

In [46]:
data.to_csv(sys.stdout, index=False, columns=['a', 'b', 'c'])

a,b,c
1,2,3.0
5,6,
9,10,11.0

In [51]:
dates = pd.date_range('1/1/2000', periods=7)
ts = Series(np.arange(7), index=dates)
ts.to_csv('ch06/tseries.csv')
!cat ch06/tseries.csv

2000-01-01,0
2000-01-02,1
2000-01-03,2
2000-01-04,3
2000-01-05,4
2000-01-06,5
2000-01-07,6

In [48]:
dates = pd.date_range('1/1/2000', periods=7)
dates

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05', '2000-01-06', '2000-01-07'],
              dtype='datetime64[ns]', freq='D')

In [49]:
ts = Series(np.arange(7), index=dates)
ts

2000-01-01    0
2000-01-02    1
2000-01-03    2
2000-01-04    3
2000-01-05    4
2000-01-06    5
2000-01-07    6
Freq: D, dtype: int64

In [50]:
ts.to_csv(sys.stdout)

2000-01-01,0
2000-01-02,1
2000-01-03,2
2000-01-04,3
2000-01-05,4
2000-01-06,5
2000-01-07,6

In [52]:
Series.from_csv('ch06/tseries.csv', parse_dates=True)

2000-01-01    0
2000-01-02    1
2000-01-03    2
2000-01-04    3
2000-01-05    4
2000-01-06    5
2000-01-07    6
dtype: int64

### Manually working with delimited formats

In [53]:
!cat ch06/ex7.csv

"a","b","c"
"1","2","3"
"1","2","3","4"

In [54]:
import csv
f = open('ch06/ex7.csv')

reader = csv.reader(f)

In [55]:
for line in reader:
    print(line)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3', '4']

In [56]:
lines = list(csv.reader(open('ch06/ex7.csv')))
header, values = lines[0], lines[1:]
data_dict = {h: v for h, v in zip(header, zip(*values))}
data_dict

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

In [57]:
header

['a', 'b', 'c']

In [58]:
values

[['1', '2', '3'], ['1', '2', '3', '4']]

In [59]:
class my_dialect(csv.Dialect):
    lineterminator = '\n'
    delimiter = ';'
    quotechar = '"'
    quoting = csv.QUOTE_MINIMAL

In [61]:
reader = csv.reader(f, dialect=my_dialect)
reader

In [ ]:
with open('mydata.csv', 'w') as f:
    writer = csv.writer(f, dialect=my_dialect)
    writer.writerow(('one', 'two', 'three'))
    writer.writerow(('1', '2', '3'))
    writer.writerow(('4', '5', '6'))
    writer.writerow(('7', '8', '9'))

In [ ]:
%cat mydata.csv

### JSON data

In [62]:
obj = """
{"name": "Wes",
 "places_lived": ["United States", "Spain", "Germany"],
 "pet": null,
 "siblings": [{"name": "Scott", "age": 25, "pet": "Zuko"},
              {"name": "Katie", "age": 33, "pet": "Cisco"}]
}
"""

In [63]:
import json
result = json.loads(obj)
result

{'name': 'Wes',
 'pet': None,
 'places_lived': ['United States', 'Spain', 'Germany'],
 'siblings': [{'age': 25, 'name': 'Scott', 'pet': 'Zuko'},
  {'age': 33, 'name': 'Katie', 'pet': 'Cisco'}]}

In [66]:
len(result['siblings'])

2

In [68]:
asjson = json.dumps(result)
asjson

'{"places_lived": ["United States", "Spain", "Germany"], "siblings": [{"pet": "Zuko", "age": 25, "name": "Scott"}, {"pet": "Cisco", "age": 33, "name": "Katie"}], "pet": null, "name": "Wes"}'

In [69]:
siblings = DataFrame(result['siblings'], columns=['name', 'age'])
siblings

    name  age
0  Scott   25
1  Katie   33

In [71]:
pd.io.json.json_normalize(asjson)

AttributeError: 'str' object has no attribute 'values'

### XML and HTML, Web scraping

In [73]:
from lxml.html import parse
from urllib.request import urlopen

parsed = parse(urlopen('http://finance.yahoo.com/q/op?s=AAPL+Options'))

doc = parsed.getroot()

In [75]:
doc

In [76]:
links = doc.findall('.//a')
links[15:20]

[<Element a at 0x11a6b8868>,
 <Element a at 0x11a6b88b8>,
 <Element a at 0x11a6b8908>,
 <Element a at 0x11a6b8958>,
 <Element a at 0x11a6b89a8>]

In [84]:
lnk = links[30]
lnk

In [82]:
print(lnk)

<Element a at 0x11a6b8c78>

In [85]:
lnk.get('href')

'https://www.yahoo.com/'

In [86]:
lnk.text_content()

'YahooHome'

In [88]:
urls = [lnk.get('href') for lnk in doc.findall('.//a')]
urls[:10]

['https://www.yahoo.com/',
 'https://mail.yahoo.com/?.intl=us&.lang=en-US&.src=ym',
 'https://search.yahoo.com/search',
 'https://www.yahoo.com/news',
 'http://sports.yahoo.com/',
 'http://finance.yahoo.com/',
 'https://celebrity.yahoo.com/',
 'https://www.yahoo.com/news/weather',
 'https://answers.yahoo.com/',
 'https://www.flickr.com/']

In [92]:
tables = doc.findall('.//table')
calls = tables[1]
puts = tables[2]

In [98]:
calls.values()

['details-table quote-table Fz-m']

In [91]:
len(tables)

In [101]:
rows = calls.findall('.//tr')

In [248]:
import re
def _unpack(row, kind='td'):
    elts = row.findall('.//%s' % kind)
    return [re.match(r'[A-Za-z0-9 %]*', val.text_content().strip()).group() for val in elts]
    #return [val.text_content().strip() for val in elts]

In [249]:
upl = _unpack(rows[0], kind='th')
upl

['Strike',
 'Contract Name',
 'Last',
 'Bid',
 'Ask',
 'Change',
 '%Change',
 'Volume',
 'Open Interest',
 'Implied Volatility']

In [250]:
upl[0]

'Strike'

In [251]:
print(re.sub(r'[A-Za-z]+', '', upl[0]))

In [252]:
re.match(r'[A-Za-z1-9 ]*', upl[0]).group()

'Strike'

In [253]:
_unpack(rows[2], kind='td')

['50', 'AAPL160701C00050000', '42', '43', '43', '0', '1', '1', '2', '0']

In [254]:
from pandas.io.parsers import TextParser

def parse_options_data(table):
    rows = table.findall('.//tr')
    header = _unpack(rows[0], kind='th')
    data = [_unpack(r) for r in rows[1:]]
    return TextParser(data, names=header).get_chunk()

In [255]:
call_data = parse_options_data(calls)
put_data = parse_options_data(puts)
call_data[:10]

,Strike,Contract Name,Last,Bid,Ask,Change,%Change,Volume,Open Interest,Implied Volatility
0,50,AAPL160701C00050000,42,43,43,0.0,1.0,1,2,0
1,55,AAPL160701C00055000,37,38,38,0.0,1.0,1,1,0
2,60,AAPL160701C00060000,32,33,33,0.0,0.0,1,0,0
3,75,AAPL160701C00075000,25,22,23,0.0,0.0,1,1,351
4,80,AAPL160701C00080000,12,0,0,0.0,0.0,1,0,0
5,85,AAPL160701C00085000,8,8,8,1.0,22.0,4,143,0
6,85,AAPL160701C00085500,8,9,10,0.0,0.0,2,2,134
7,86,AAPL160701C00086000,7,7,7,0.0,0.0,7,0,0
8,87,AAPL160701C00087000,5,6,6,0.0,17.0,4,18,0
9,87,AAPL160701C00087500,4,0,0,0.0,0.0,22,0,0

#### Parsing XML with lxml.objectify

In [ ]:
%cd mta_perf/Performance_XML_Data

In [256]:
!head -21 Performance_MNR.xml

In [257]:
from lxml import objectify

path = 'Performance_MNR.xml'
parsed = objectify.parse(open(path))
root = parsed.getroot()

In [258]:
data = []

skip_fields = ['PARENT_SEQ', 'INDICATOR_SEQ',
               'DESIRED_CHANGE', 'DECIMAL_PLACES']

for elt in root.INDICATOR:
    el_data = {}
    for child in elt.getchildren():
        if child.tag in skip_fields:
            continue
        el_data[child.tag] = child.pyval
    data.append(el_data)

In [259]:
perf = DataFrame(data)
perf

,AGENCY_NAME,CATEGORY,DESCRIPTION,FREQUENCY,INDICATOR_NAME,INDICATOR_UNIT,MONTHLY_ACTUAL,MONTHLY_TARGET,PERIOD_MONTH,PERIOD_YEAR,YTD_ACTUAL,YTD_TARGET
0,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,96.9,95,1,2008,96.9,95
1,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,95,95,2,2008,96,95
2,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,96.9,95,3,2008,96.3,95
3,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,98.3,95,4,2008,96.8,95
4,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,95.8,95,5,2008,96.6,95
5,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,94.4,95,6,2008,96.2,95
6,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,96,95,7,2008,96.2,95
7,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,96.4,95,8,2008,96.2,95
8,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,93.7,95,9,2008,95.9,95
9,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,96.4,95,10,2008,96,95
10,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,96.9,95,11,2008,96.1,95
11,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,95.1,95,12,2008,96,95
12,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,92.6,96.2,1,2009,92.6,96.2
13,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,96.8,96.2,2,2009,94.6,96.2
14,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,96.9,96.2,3,2009,95.4,96.2
15,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,97.1,96.2,4,2009,95.9,96.2
16,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,97.8,96.2,5,2009,96.2,96.2
17,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,97.3,96.2,6,2009,96.4,96.2
18,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,96.7,96.2,7,2009,96.5,96.2
19,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,95.7,96.2,8,2009,96.4,96.2
20,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,96.1,96.2,9,2009,96.3,96.2
21,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,94.8,96.2,10,2009,96.2,96.2
22,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,95.7,96.2,11,2009,96.1,96.2
23,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,95,96.2,12,2009,96,96.2
24,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,98,96.3,1,2010,98,96.3
25,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,93,96.3,2,2010,95.6,96.3
26,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,96.9,96.3,3,2010,96.1,96.3
27,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,98.1,96.3,4,2010,96.6,96.3
28,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,97.6,96.3,5,2010,96.8,96.3
29,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,97.4,96.3,6,2010,96.9,96.3
...,...,...,...,...,...,...,...,...,...,...,...,...
618,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,94,,7,2009,95.14,
619,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,97,,8,2009,95.38,
620,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,98.3,,9,2009,95.7,
621,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,98.7,,10,2009,96,
622,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,98.1,,11,2009,96.21,
623,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,100,,12,2009,96.5,
624,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,97.95,97,1,2010,97.95,97
625,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,100,97,2,2010,98.92,97
626,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,100,97,3,2010,99.29,97
627,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,100,97,4,2010,99.47,97
628,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,100,97,5,2010,99.58,97
629,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,91.21,97,6,2010,98.19,97
630,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,100,97,7,2010,98.46,97
631,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,100,97,8,2010,98.69,97
632,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,95.2,97,9,2010,98.3,97
633,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,90.91,97,10,2010,97.55,97
634,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,96.67,97,11,2010,97.47,97
635,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,90.03,97,12,2010,96.84,97
636,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,100,97,1,2011,100,97
637,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,100,97,2,2011,100,97
638,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,97.07,97,3,2011,98.86,97
639,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,98.18,97,4,2011,98.76,97
640,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,79.18,97,5,2011,90.91,97
641,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,,97,6,2011,,97
642,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,,97,7,2011,,97
643,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,,97,8,2011,,97
644,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,,97,9,2011,,97
645,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,,97,10,2011,,97
646,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,,97,11,2011,,97
647,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,,97,12,2011,,97

In [264]:
from io import StringIO
tag = '<a href="http://www.google.com">Google</a>'

root = objectify.parse(StringIO(tag)).getroot()

In [267]:
root

In [268]:
root.get('href')

'http://www.google.com'

In [269]:
root.text

'Google'

In [ ]:
root.

## Binary data formats

In [ ]:
cd ../..

In [270]:
frame = pd.read_csv('ch06/ex1.csv')
frame

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [271]:
frame.to_pickle('ch06/frame_pickle')

In [272]:
pd.read_pickle('ch06/frame_pickle')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [273]:
cat ch06/frame_pickle

���      �pandas.core.frame��	DataFrame���)��}�(�	_metadata�]��_typ��	dataframe��_data��pandas.core.internals��BlockManager���)��(]�(�pandas.indexes.base��
_new_Index���h�Index���}�(�name�N�data��numpy.core.multiarray��_reconstruct����numpy��ndarray���K ��Cb���R�(KK���numpy��dtype����O8�K K��R�(K�|�NNNJ����J����K?t�b�]�(�a��b��c��d��message�et�bu��R�h�pandas.indexes.range��
RangeIndex���}�(�start�K �stop�K�step�KhNu��R�e]�(hhK ��h��R�(KKK��h$�i8�K K��R�(K�<�NNNJ����J����K t�b�C`              	                     
                                                 �t�bhhK ��h��R�(KKK��h'�]�(�hello��world��foo�et�be]�(hh}�(hNhhhK ��h��R�(KK��h'�]�(h+h,h-h.et�bu��R�hh}�(hNhhhK ��h��R�(KK��h'�]�h/at�bu��R�e}��0.14.1�}�(�blocks�]�(}�(�mgr_locs��builtins��slice���K KK��R��values�h?u}�(hjhmKKK��R�hphJue�axes�hust�bub.

### Using HDF5 format

In [282]:
!more mydata.h5

"mydata.h5" may be a binary file.  See it anyway?

OSError: [Errno 5] Input/output error

In [277]:
store = pd.HDFStore('mydata.h5')
store['obj1'] = frame
store['obj1_col'] = frame['a']
store

<class 'pandas.io.pytables.HDFStore'>
File path: mydata.h5
/obj1                frame        (shape->[3,5])
/obj1_col            series       (shape->[3])

In [278]:
store['obj1']

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [281]:
store.close()
#os.remove('mydata.h5')

### Interacting with HTML and Web APIs

In [283]:
import requests
url = 'https://api.github.com/repos/pydata/pandas/milestones/28/labels'
resp = requests.get(url)
resp

In [284]:
resp.headers

{'Cache-Control': 'public, max-age=60, s-maxage=60', 'X-Content-Type-Options': 'nosniff', 'X-GitHub-Media-Type': 'github.v3', 'Status': '200 OK', 'X-RateLimit-Limit': '60', 'Strict-Transport-Security': 'max-age=31536000; includeSubdomains; preload', 'X-Served-By': '76d9828c7e4f1d910f7ba069e90ce976', 'Vary': 'Accept, Accept-Encoding', 'ETag': 'W/"9197e11460994b46c576c67b3704e594"', 'X-GitHub-Request-Id': '7C42B804:5A69:4DEE2A4:5774A40D', 'X-RateLimit-Remaining': '49', 'X-RateLimit-Reset': '1467263660', 'Transfer-Encoding': 'chunked', 'Access-Control-Expose-Headers': 'ETag, Link, X-GitHub-OTP, X-RateLimit-Limit, X-RateLimit-Remaining, X-RateLimit-Reset, X-OAuth-Scopes, X-Accepted-OAuth-Scopes, X-Poll-Interval', 'Link': '<https://api.github.com/repositories/858127/milestones/28/labels?page=2>; rel="next", <https://api.github.com/repositories/858127/milestones/28/labels?page=2>; rel="last"', 'Content-Security-Policy': "default-src 'none'", 'X-XSS-Protection': '1; mode=block', 'Server': 'GitHub.com', 'Date': 'Thu, 30 Jun 2016 04:46:09 GMT', 'X-Frame-Options': 'deny', 'Content-Encoding': 'gzip', 'Content-Type': 'application/json; charset=utf-8', 'Access-Control-Allow-Origin': '*'}

In [285]:
resp.text

'[{"url":"https://api.github.com/repos/pydata/pandas/labels/Bug","name":"Bug","color":"e10c02"},{"url":"https://api.github.com/repos/pydata/pandas/labels/Enhancement","name":"Enhancement","color":"4E9A06"},{"url":"https://api.github.com/repos/pydata/pandas/labels/Refactor","name":"Refactor","color":"FCE94F"},{"url":"https://api.github.com/repos/pydata/pandas/labels/Build","name":"Build","color":"75507B"},{"url":"https://api.github.com/repos/pydata/pandas/labels/Docs","name":"Docs","color":"3465A4"},{"url":"https://api.github.com/repos/pydata/pandas/labels/Groupby","name":"Groupby","color":"729FCF"},{"url":"https://api.github.com/repos/pydata/pandas/labels/Data%20IO","name":"Data IO","color":"06909A"},{"url":"https://api.github.com/repos/pydata/pandas/labels/Visualization","name":"Visualization","color":"8AE234"},{"url":"https://api.github.com/repos/pydata/pandas/labels/Indexing","name":"Indexing","color":"0b02e1"},{"url":"https://api.github.com/repos/pydata/pandas/labels/Missing-data","name":"Missing-data","color":"d7e102"},{"url":"https://api.github.com/repos/pydata/pandas/labels/Performance","name":"Performance","color":"a10c02"},{"url":"https://api.github.com/repos/pydata/pandas/labels/Reshaping","name":"Reshaping","color":"02d7e1"},{"url":"https://api.github.com/repos/pydata/pandas/labels/Difficulty%20Novice","name":"Difficulty Novice","color":"fbca04"},{"url":"https://api.github.com/repos/pydata/pandas/labels/Dtypes","name":"Dtypes","color":"e102d8"},{"url":"https://api.github.com/repos/pydata/pandas/labels/Note%20To%20Selves","name":"Note To Selves","color":"DDDDDD"},{"url":"https://api.github.com/repos/pydata/pandas/labels/API%20Design","name":"API Design","color":"AD7FA8"},{"url":"https://api.github.com/repos/pydata/pandas/labels/Error%20Reporting","name":"Error Reporting","color":"ffa0ff"},{"url":"https://api.github.com/repos/pydata/pandas/labels/Numeric","name":"Numeric","color":"006b75"},{"url":"https://api.github.com/repos/pydata/pandas/labels/CSV","name":"CSV","color":"5319e7"},{"url":"https://api.github.com/repos/pydata/pandas/labels/IO%20SQL","name":"IO SQL","color":"5319e7"},{"url":"https://api.github.com/repos/pydata/pandas/labels/CI","name":"CI","color":"a2bca7"},{"url":"https://api.github.com/repos/pydata/pandas/labels/Internals","name":"Internals","color":"fbca04"},{"url":"https://api.github.com/repos/pydata/pandas/labels/Timedelta","name":"Timedelta","color":"5319e7"},{"url":"https://api.github.com/repos/pydata/pandas/labels/Frequency","name":"Frequency","color":"0052cc"},{"url":"https://api.github.com/repos/pydata/pandas/labels/Windows","name":"Windows","color":"fbca04"},{"url":"https://api.github.com/repos/pydata/pandas/labels/Algos","name":"Algos","color":"eb6420"},{"url":"https://api.github.com/repos/pydata/pandas/labels/Timezones","name":"Timezones","color":"5319e7"},{"url":"https://api.github.com/repos/pydata/pandas/labels/Period","name":"Period","color":"eb6420"},{"url":"https://api.github.com/repos/pydata/pandas/labels/MultiIndex","name":"MultiIndex","color":"207de5"},{"url":"https://api.github.com/repos/pydata/pandas/labels/Categorical","name":"Categorical","color":"e11d21"}]'

In [286]:
import requests
url = 'http://search.twitter.com/search.json?q=python%20pandas'
resp = requests.get(url)
resp

In [288]:
resp.text

'{"errors":[{"message":"The Twitter REST API v1 is no longer active. Please migrate to API v1.1. https://dev.twitter.com/docs/api/1.1/overview.","code":64}]}'

In [289]:
import json
data = json.loads(resp.text)

In [290]:
data.keys()

dict_keys(['errors'])

In [ ]:
data[:5]

In [ ]:
issue_labels = DataFrame(data)
issue_labels

## Interacting with databases

In [291]:
import sqlite3

query = """
CREATE TABLE test
(a VARCHAR(20), b VARCHAR(20),
 c REAL,        d INTEGER
);"""

con = sqlite3.connect(':memory:')
con.execute(query)
con.commit()

In [292]:
data = [('Atlanta', 'Georgia', 1.25, 6),
        ('Tallahassee', 'Florida', 2.6, 3),
        ('Sacramento', 'California', 1.7, 5)]
stmt = "INSERT INTO test VALUES(?, ?, ?, ?)"

con.executemany(stmt, data)
con.commit()

In [293]:
cursor = con.execute('select * from test')
rows = cursor.fetchall()
rows

[('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5)]

In [294]:
cursor.description

(('a', None, None, None, None, None, None),
 ('b', None, None, None, None, None, None),
 ('c', None, None, None, None, None, None),
 ('d', None, None, None, None, None, None))

In [295]:
DataFrame(rows, columns=zip(*cursor.description)[0])

TypeError: 'zip' object is not subscriptable

In [296]:
import pandas.io.sql as sql
sql.read_sql('select * from test', con)

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5